gc.version=1.0.4
gc.filepath=buildDirectory/I.OpenElectribeEditorBuild/
gc.filename=OpenElectribeEditor

gc.username=googlecode-username
gc.password=googlecode-password
gc.projectname=googlecode-projectname