<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="EsxEditorAdvisorApplication">
      <application>
         <run class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$Application"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.skratchdot.electribe.model.esx.editor.EsxEditorAdvisorApplication"
            name="Open Electribe Editor">
         <property
               name="appName"
               value="Open Electribe Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="windowImages"
               value="icons/window/window_16.gif,icons/window/window_32.gif,icons/window/window_48.gif,icons/window/window_64.gif,icons/window/window_128.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,305,458,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,322,461,20">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Disable plug-in contributions"
            id="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            name="DisableIDEContribs">
      </activity>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.delimiter.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoLastEditPosition">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.ide/org.eclipse.update.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.ide/.*WorkingSet.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.skratchdot.electribe.model.esx.editor.disableEclipseIDEContribs"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <scheme
            id="esx.editor.scheme"
            name="Esx Editor Scheme">
      </scheme>
      <key
            commandId="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile"
            sequence="M1+O"
            schemeId="esx.editor.scheme"/>
      <key
            commandId="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+I">
      </key>
      <key
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+E">
      </key>
      <key
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+M2+E">
      </key>
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.saveAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+M2+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.close"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+W">
      </key>
      <key
            commandId="org.eclipse.ui.file.closeAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+M2+W">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.eclipse.ui.edit.undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+Z">
      </key>
      <key
            commandId="org.eclipse.ui.edit.redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+Y">
      </key>
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+X">
      </key>
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+C">
      </key>
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+V">
      </key>
      <key
            commandId="org.eclipse.ui.edit.delete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="DEL">
      </key>
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="esx.editor.scheme"
            sequence="M1+A">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles"
            disabledIcon="icons/full/obj16/export_audio_all_disabled.gif"
            icon="icons/full/obj16/export_audio_all.gif">
      </image>
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles"
            disabledIcon="icons/full/obj16/export_audio_selected_disabled.gif"
            icon="icons/full/obj16/export_audio_selected.gif">
      </image>
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles"
            disabledIcon="icons/full/obj16/import_audio_all_disabled.gif"
            icon="icons/full/obj16/import_audio_all.gif">
      </image>
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile"
            disabledIcon="icons/full/obj16/new_esx_file_disabled.gif"
            icon="icons/full/obj16/new_esx_file.gif">
      </image>
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile"
            disabledIcon="icons/full/obj16/open_esx_file_disabled.gif"
            icon="icons/full/obj16/open_esx_file.gif">
      </image>
      <image
            commandId="com.skratchdot.electribe.model.esx.editor.commands.showPropertiesView"
            disabledIcon="icons/full/obj16/properties_disabled.gif"
            icon="icons/full/obj16/properties.gif">
      </image>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Exports all audio files in .wav format"
            id="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles"
            name="Export all audio files">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Exports selected audio files in .wav format"
            id="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles"
            name="Export selected audio files">
      </command>
      <command
            description="Imports valid audio files into the active editor"
            id="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles"
            name="Import Audio Files">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Creates a new .esx file based off of the default.esx file set in preferences"
            id="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile"
            name="New .esx File">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Opens an .esx file for editing"
            id="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile"
            name="Open .esx File">
      </command>
      <command
            description="Show Properties View"
            id="com.skratchdot.electribe.model.esx.editor.commands.showPropertiesView"
            name="Properties">
      </command>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorID"
            name="%_UI_EsxEditor_label"
            icon="icons/full/obj16/EsxModelFile.gif"
            extensions="esx"
            class="com.skratchdot.electribe.model.esx.presentation.EsxEditor"
            contributorClass="com.skratchdot.electribe.model.esx.presentation.EsxActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.ExportHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles">
      </handler>
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.ExportHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles">
      </handler>
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.ImportHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles">
      </handler>
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.NewHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile">
      </handler>
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.OpenHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile">
      </handler>
      <handler
            class="com.skratchdot.electribe.model.esx.editor.handlers.ShowPropertiesViewHandler"
            commandId="com.skratchdot.electribe.model.esx.editor.commands.showPropertiesView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="&amp;File">
            <separator
                  name="fileStart">
            </separator>
            <separator
                  name="new.seperator">
            </separator>
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile"
                  id="newEsxFile"
                  style="push">
            </command>
            <separator
                  name="open.separator">
            </separator>
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile"
                  id="openEsxFile"
                  style="push">
            </command>
            <separator
                  name="import.seperator"
                  visible="true">
            </separator>
            <menu
                  icon="icons/full/obj16/import_wiz.gif"
                  id="import"
                  label="Import">
               <command
                     commandId="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles"
                     id="importAudioFiles"
                     style="push">
               </command>
            </menu>
            <separator
                  name="export.seperator">
            </separator>
            <menu
                  icon="icons/full/obj16/export_wiz.gif"
                  id="export"
                  label="Export">
               <command
                     commandId="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles"
                     id="exportAllAudioFiles"
                     style="push">
               </command>
               <command
                     commandId="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles"
                     id="exportSelectedAudioFiles"
                     style="push">
               </command>
            </menu>
            <separator
                  name="close"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  id="closeAll"
                  label="Close All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="close"
                  label="Close"
                  style="push">
            </command>
            <separator
                  name="save.seperator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  id="saveAs"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  id="saveAll"
                  label="SaveAll"
                  style="push">
            </command>
            <separator
                  name="quit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="quit"
                  label="Exit"
                  style="push">
            </command>
            <separator
                  name="fileEnd">
            </separator>
         </menu>
         <menu
               id="edit"
               label="&amp;Edit">
            <separator
                  name="editStart">
            </separator>
            <separator
                  name="undo">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="undo.ext">
            </separator>
            <separator
                  name="cut"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="cut.ext">
            </separator>
            <separator
                  name="delete"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  id="delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  id="selectAll"
                  label="Select All"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="&amp;Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences"
                  style="push">
            </command>
            <menu
                  commandId="org.eclipse.ui.views.showView"
                  id="showView"
                  label="Show View">
               <command
                     commandId="com.skratchdot.electribe.model.esx.editor.commands.showPropertiesView"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               id="help"
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="&amp;About Open Electribe Editor"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="file">
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.newEsxFile"
                  id="newEsxFile"
                  style="push">
            </command>
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.openEsxFile"
                  id="openEsxFile"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="import">
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.importAudioFiles"
                  id="importAudioFiles"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="export">
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.exportAllAudioFiles"
                  id="exportAllAudioFiles"
                  style="push">
            </command>
            <command
                  commandId="com.skratchdot.electribe.model.esx.editor.commands.exportSelectedAudioFiles"
                  id="exportSelectedAudioFiles"
                  style="push">
            </command>
         </toolbar>
         <separator
               name="additions">
         </separator>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$Perspective"
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorPerspective">
      </perspective>
   </extension>

</plugin>
