<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="File Explorer Preferences"
            class="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageFileExplorer"
            id="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageFileExplorer">
      </page>
      <page
            name="Table View"
            category="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageFileExplorer"
            class="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageTableView"
            id="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageTableView">
      </page>
      <page
            name="Tree View"
            category="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageFileExplorer"
            class="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageTreeView"
            id="com.skratchdot.electribe.fileexplorer.preferences.PreferencePageTreeView">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.skratchdot.electribe.fileexplorer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="File Explorer Views"
            id="com.skratchdot.electribe.fileexplorer">
      </category>
      <view
            name="File Explorer (Tree View)"
            icon="icons/tree_view.gif"
            category="com.skratchdot.electribe.fileexplorer"
            class="com.skratchdot.electribe.fileexplorer.views.TreeView"
            id="com.skratchdot.electribe.fileexplorer.views.TreeView">
      </view>
      <view
            name="File Explorer (Table View)"
            icon="icons/table_view.gif"
            category="com.skratchdot.electribe.fileexplorer"
            class="com.skratchdot.electribe.fileexplorer.views.TableView"
            id="com.skratchdot.electribe.fileexplorer.views.TableView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:showView?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/tree_view.gif"
               label="File Explorer (Tree)"
               style="push">
           <parameter
                 name="org.eclipse.ui.views.showView.viewId"
                 value="com.skratchdot.electribe.fileexplorer.views.TreeView">
           </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/table_view.gif"
               label="File Explorer (Table)"
               style="push">
           <parameter
                 name="org.eclipse.ui.views.showView.viewId"
                 value="com.skratchdot.electribe.fileexplorer.views.TableView">
           </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.io.File"
            class="com.skratchdot.electribe.fileexplorer.views.FileExplorerAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
