<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<!--
 Copyright (c) 2009-2011 SKRATCHDOT.COM
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 http://www.eclipse.org/legal/epl-v10.html
  
 Contributors:
     JEFF |:at:| SKRATCHDOT |:dot:| COM

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="EsxEditorAdvisorApplication">
      <application>
         <run class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$Perspective"
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_EsxEditorAdvisor_ActionSet_label"
            visible="true"
            id="EsxEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenURICommand"
               class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenCommand"
               class="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="com.skratchdot.electribe.model.esx.presentation.EsxEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.skratchdot.electribe.model.esx.presentation.EsxEditorID"
            name="%_UI_EsxEditor_label"
            icon="icons/full/obj16/EsxModelFile.gif"
            extensions="esx"
            class="com.skratchdot.electribe.model.esx.presentation.EsxEditor"
            contributorClass="com.skratchdot.electribe.model.esx.presentation.EsxActionBarContributor">
      </editor>
   </extension>

</plugin>
