<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Audio Player Category"
            id="com.skratchdot.electribe.audioplayer.commands.category">
      </category>
      <command
            name="Loop"
            categoryId="com.skratchdot.electribe.audioplayer.commands.category"
            id="com.skratchdot.electribe.audioplayer.commands.loopCommand">
      </command>
      <command
            name="Play"
            categoryId="com.skratchdot.electribe.audioplayer.commands.category"
            id="com.skratchdot.electribe.audioplayer.commands.playCommand">
      </command>
      <command
            name="Pause"
            categoryId="com.skratchdot.electribe.audioplayer.commands.category"
            id="com.skratchdot.electribe.audioplayer.commands.pauseCommand">
      </command>
      <command
            name="Stop"
            categoryId="com.skratchdot.electribe.audioplayer.commands.category"
            id="com.skratchdot.electribe.audioplayer.commands.stopCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.skratchdot.electribe.audioplayer.commands.loopCommand"
            class="com.skratchdot.electribe.audioplayer.handlers.LoopAndPlayHandler">
      </handler>
      <handler
            commandId="com.skratchdot.electribe.audioplayer.commands.playCommand"
            class="com.skratchdot.electribe.audioplayer.handlers.LoopAndPlayHandler">
      </handler>
      <handler
            commandId="com.skratchdot.electribe.audioplayer.commands.pauseCommand"
            class="com.skratchdot.electribe.audioplayer.handlers.PauseHandler">
      </handler>
      <handler
            commandId="com.skratchdot.electribe.audioplayer.commands.stopCommand"
            class="com.skratchdot.electribe.audioplayer.handlers.StopHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.skratchdot.electribe.audioplayer.commands.loopCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+NUMPAD_0"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.skratchdot.electribe.audioplayer.commands.playCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+NUMPAD_1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.skratchdot.electribe.audioplayer.commands.pauseCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+NUMPAD_2"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.skratchdot.electribe.audioplayer.commands.stopCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+NUMPAD_3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:audioPlayer">
         <command
               commandId="com.skratchdot.electribe.audioplayer.commands.loopCommand"
               disabledIcon="icons/btn_loop_disabled.gif"
               icon="icons/btn_loop.gif"
               id="com.skratchdot.electribe.audioplayer.menus.loopCommand"
               mnemonic="L">
         </command>
         <command
               commandId="com.skratchdot.electribe.audioplayer.commands.playCommand"
               disabledIcon="icons/btn_play_disabled.gif"
               icon="icons/btn_play.gif"
               id="com.skratchdot.electribe.audioplayer.menus.playCommand"
               mnemonic="P">
         </command>
         <command
               commandId="com.skratchdot.electribe.audioplayer.commands.pauseCommand"
               disabledIcon="icons/btn_pause_disabled.gif"
               icon="icons/btn_pause.gif"
               id="com.skratchdot.electribe.audioplayer.menus.pauseCommand"
               mnemonic="A">
         </command>
         <command
               commandId="com.skratchdot.electribe.audioplayer.commands.stopCommand"
               disabledIcon="icons/btn_stop_disabled.gif"
               icon="icons/btn_stop.gif"
               id="com.skratchdot.electribe.audioplayer.menus.stopCommand"
               mnemonic="S">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.skratchdot.electribe.audioplayer.toolbars.audioPlayerToolbar">
            <command
                  commandId="com.skratchdot.electribe.audioplayer.commands.loopCommand"
                  disabledIcon="icons/btn_loop_disabled.gif"
                  icon="icons/btn_loop.gif"
                  id="com.skratchdot.electribe.audioplayer.toolbars.loopCommand"
                  tooltip="LOOP">
            </command>
            <command
                  commandId="com.skratchdot.electribe.audioplayer.commands.playCommand"
                  disabledIcon="icons/btn_play_disabled.gif"
                  icon="icons/btn_play.gif"
                  id="com.skratchdot.electribe.audioplayer.toolbars.playCommand"
                  tooltip="PLAY">
            </command>
            <command
                  commandId="com.skratchdot.electribe.audioplayer.commands.pauseCommand"
                  disabledIcon="icons/btn_pause_disabled.gif"
                  icon="icons/btn_pause.gif"
                  id="com.skratchdot.electribe.audioplayer.toolbars.pauseCommand"
                  tooltip="PAUSE">
            </command>
            <command
                  commandId="com.skratchdot.electribe.audioplayer.commands.stopCommand"
                  disabledIcon="icons/btn_stop_disabled.gif"
                  icon="icons/btn_stop.gif"
                  id="com.skratchdot.electribe.audioplayer.toolbars.stopCommand"
                  tooltip="STOP">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
